.box {
    background: rgba(0, 0, 0, .3);
    color: white;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 0px 0px 10px 3px grey;
}

hr {
    background: white;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.author {
    font-size: 17px;
}

.post-title {
    margin-bottom: 40px;
}

.generalnews, .latest-general-news {
    color: blue;
}

.latest-general-news {
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
}

.latest-sports-news {
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
}

.sportsnews, .latest-sports-news {
    color: red;
}

.latest-technology-news {
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
}

.technologynews, .latest-technology-news {
    color: #8c66ff;
}

.latest-health-news {
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
}

.latest-health-news, healthnews {
    color: green;
}

.latest-travel-news {
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
}

.latest-travel-news, travelnews {
    color: #ff8c66;
}


.index-line {
    background-color: black;
    height: 5px;
    width: 100%;
    margin-bottom: 20px;
}

.frontimage {
    margin-bottom: 10px;
}

.aboutpage {
    margin-bottom: 35px;
}


.article-title {
    font-family: 'Exo 2', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
}

#select-category {
    cursor: pointer;
}

.article-image {
    margin-bottom: 30px;
}

.article-author {
    font-family: 'Exo 2', sans-serif;
    font-style: italic;
}

.article-content {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20.5px;
}

.article-line {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.articles:hover {
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
}

.articles {
    font-family: 'Exo 2', sans-serif;
}

#articles-tag {
    margin-bottom: 50px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
    .article-title, post-title {
        font-size: 17.5px;
    }
}

@media only screen and (max-width: 600px) {
    .article-author {
        font-size: 17.5px;
    }
}
