{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <h2>Articles</h2>
    </div>
    <br />
    <div class="row justify-content-center">
        <a href="{{ url_for('general_news') }}" class="col">General News</a>
        <a href="{{ url_for('sports') }}" class="col">Sports</a>
        <a href="{{ url_for('technology') }}" class="col">Technology</a>
        <a href="{{ url_for('fashion') }}" class="col">Fashion</a>
        <a href="{{ url_for('health') }}" class="col">Health</a>
    </div>
</div>
{% endblock %}