{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row justify-content-center">
        <h2 id="articles-tag">Articles</h2>
    </div>
</div>

<div class="container text-center articles">

    <div class="row justify-content-center">

        <div class="col-sm-12 col-md-6 col-lg-2">
            <a href="{{ url_for('general_news_page') }}">General News
                <img src="{{url_for('static', filename='img/general_news_icon.jpg') }}" class="img-fluid">
            </a>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2">
            <a href="{{ url_for('health_page') }}">Health
                <img src="{{url_for('static', filename='img/health_icon.jpg') }}" class="img-fluid">
            </a>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2">
            <a href="{{ url_for('sports_page') }}">Sports
                <img src="{{url_for('static', filename='img/ufc_logo.png') }}" class="img-fluid">
            </a>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2">
            <a href="{{ url_for('travel_page') }}">Travel
                <img src="{{url_for('static', filename='img/travel_logo.jpg') }}" class="img-fluid">
            </a>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2">
            <a href="{{ url_for('technology_page') }}">Technology
                <img src="{{url_for('static', filename='img/technology_logo.jpg') }}" class="img-fluid">
            </a>
        </div>

    </div>
</div>
{% endblock %}
