{% extends 'base.html' %} {% block content %}
<div class="container contact-form">
    <h1>Contact form</h1>
    <hr id="contact-form">

    <div class="row" method="POST" action="/send">
        <div class="offset-col-md-6">

        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" />
            </div>

            <div class="form-group">
                <label for="name">Email</label>
                <input type="text" class="form-control" />
            </div>

            <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" rows="5"></textarea>
            </div>
            
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" value="submit" id="sendbutton">Send</button>
            </div>
        </div>
    </div>

</div>
{% endblock %}
