{% extends 'base.html' %} {% block content %}
<h2 class="generalnews">General News Section</h2>
<br />
{% for item in posts|reverse %}

        <div class="article-title text-center">
            {{ item.title }}
        </div>
        <p class="article-author text-left">Published by: {{ item.author }}</p>
        <div class="text-center">
        <img src="{{ item.url }}" class="img-fluid article-image rounded" alt="Responsive image"></img>
        </div>
        <br />
        <div class="article-content">
            {{ item.content }}
        </div>
        <br />
        <hr class="article-line" />
{% endfor %} {% endblock %}