{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div>
      <a href="{{ url_for('general_news_page') }}">
            {% for item in generalnewspage|reverse %}
            <h2 class="post-title">
              {% if loop.index == 1 %}
              {{ item.title }}
            </h2>
            <img src="{{ item.url }}" class="frontimage img-fluid">
            <p>CLICK to read the whole article!</p>
            <h5 class="post-subtitle">
              Author: {{ item.author }}
            </h5>
            {% endif %}
            {% endfor %}
          </a>
    </div>
  </div>

  <hr>
  <div class="row">
    <div>
      <a href="{{ url_for('sports_page') }}">
            {% for item in sportspage|reverse %}
            <h2 class="post-title">
              {% if loop.index == 1 %}
              {{ item.title }}
            </h2>
            <img src="{{ item.url }}" class="frontimage img-fluid">
            <p>CLICK to read the whole article!</p>
            <h5 class="post-subtitle">
              Author: {{ item.author }}
            </h5>
            {% endif %}
            {% endfor %}
          </a>
    </div>
  </div>
  
  <hr>

  <div class="row">
    <div>
      <a href="{{ url_for('technology_page') }}">
            {% for item in technologypage|reverse %}
            <h2 class="post-title">
              {% if loop.index == 1 %}
              {{ item.title }}
            </h2>
            <img src="{{ item.url }}" class="frontimage img-fluid">
            <p>CLICK to read the whole article!</p>
            <h5 class="post-subtitle">
              Author: {{ item.author }}
            </h5>
            {% endif %}
            {% endfor %}
          </a>
    </div>
  </div>
  
  <hr>

  <div class="row">
    <div>
      <a href="{{ url_for('health_page') }}">
            {% for item in healthpage|reverse %}
            <h2 class="post-title">
              {% if loop.index == 1 %}
              {{ item.title }}
            </h2>
            <img src="{{ item.url }}" class="frontimage img-fluid">
            <p>CLICK to read the whole article!</p>
            <h5 class="post-subtitle">
              Author: {{ item.author }}
            </h5>
            {% endif %}
            {% endfor %}
          </a>
    </div>
  </div>
  
  <hr>

  <div class="row">
    <div>
      <a href="{{ url_for('travel_page') }}">
            {% for item in travelpage|reverse %}
            <h2 class="post-title">
              {% if loop.index == 1 %}
              {{ item.title }}
            </h2>
            <img src="{{ item.url }}" class="frontimage img-fluid">
            <p>CLICK to read the whole article!</p>
            <h5 class="post-subtitle">
              Author: {{ item.author }}
            </h5>
            {% endif %}
            {% endfor %}
          </a>
    </div>
  </div>
</div>

{% endblock %}
