{% extends 'base.html' %} {{ mongo.db.getCollectionNames() }} {% block content %}

<div class="container">
    <div class="row justify-content-center">
        <h3 class="col-sm-4">Publish An Article!</h3>
    </div>
</div>

<br />

<div class="container">
    <div class="row">
        <form action="" method="POST" class="col-sm-12" required>
            <div class="form-group">
                <label for="article">Article Title</label>
                <input type="text" class="form-control" placeholder="Name your article" name="title" required>
            </div>
            
            <div class="alert alert-success">Select a category!</div>

            <select name="category" class="alert alert-info" id="select-category">
                <option class="dropdown-item" disabled>Select a category</option>
                <option value="sports">Sports</option>
                <option value="general_news">General News</option>
                <option value="health">Health</option>
                <option value="technology">Technology</option>
                <option value="travel">Travel</option>
            </select>

            <div class="form-group">
                <label for="image">Image Link</label>
                <input type="text" class="form-control" placeholder="Paste a direct link to your image" name="url" required>
            </div>
            
            <p class="alert alert-danger">ATTENTION! If you wish to copy someone else's article and publish it on The Daily Writer, please make sure to include the source of the article at the end of the field (including the writer's name, in the author field of the form)!</p>
            
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Article Content</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="content" required></textarea>
            </div>
            <div class="form-group">
                <label for="image">Author</label>
                <input type="text" class="form-control" placeholder="Paste a direct link to your image" name="author" required>
            </div>
            <button type="submit" class="btn btn-info rounded">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
